*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("colored_body_top.png");
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.content > * {
    flex: 1 100%;       
}

.header {
    background: rgb(23, 29, 37);
    display: flex;
    flex-direction: row;
    text-align: center;
}
.header a {
    display: flex;
    align-items: center;
    color: rgb(197, 195, 192);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font: bold;
}
.header img {
    max-height: 50px;
    width: auto;
    margin: 10px;
}