*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
}

.content{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.content > * {
    flex: 1 100%;       
}