*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.flex-r{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-c{
    display:flex;
    flex-direction: column;
}

.w-60{
    width: 60%;
}

.h-fill{
    height: 100%;
}

.img-aspect{
    object-fit: contain;
}
.m-0{
    margin: 0;
}

.stretch{
    align-items: stretch;
}

.text-primary{
    color: #fff;
}

.bg-main{
    background-image: url("assets/background_maincap_2.jpg");
    background-size: cover;
    background-position: center;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("assets/colored_body_top.png");
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    flex-flow: row;
    height: 100%;
}
.content > * {
    flex: 1 100%;       
}

.header {
    background: rgb(23, 29, 37);
    display: flex;
    flex-direction: row;
    text-align: center;
}
.header a {
    display: flex;
    align-items: center;
    color: rgb(197, 195, 192);
    margin-left: 20px;
}
.header img {
    max-height: 50px;
    width: auto;
    margin: 10px;
}
.side {
    width: 15%;
}

.featured{
    align-items: flex-start;
}